@charset "utf-8";
/* body */
body {
    background: #fff;
}
footer {
    background: #f2f2f2;
    color: #fff;
    margin-top: 40px;
}

/* navbar */
.navbar {
    background: #f2f2f2;
    color: #fff;
}
.navbar-header img {
    margin-top: 5px;
    height: 40px;
}

/* トップページ */
.top_container {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
}
.top_content {
    text-align: center;
    display: inline-block;
}
.top_title {
    font-size: 96px;
}
.article_box {
    border: 1px #000 solid;
    border-radius: 5px;
    margin-bottom: 30px;
}
.delete-button {
    padding: 10px;
}
/* 投稿画面 */
.post_box {
    margin: 0 auto;
}